@import "@/scss/mixins";

*,
*::before,
*::after {
    box-sizing: border-box;
}

.ui-textbox__input,
.ui-select__display {
  border-bottom-width: 2px !important;
  box-sizing: border-box;
  max-height: 46px;
  overflow: hidden;
}
.ui-select__display-value {
  max-height: 2.5em;
  overflow: hidden;
}
.ui-select__dropdown-button {
  align-self: center;
}

.ui-textbox__input {
  height: unset !important;
}
.ui-textbox__label {
  height: $ui-input-height !important;
}

.ui-textbox__label,
.ui-select__display {
  align-items: flex-end !important;
}

.ui-select {
  .ui-icon {
    svg {
      transform: scale(1.1, 1.25);
    }
  }
  .ui-select__content {
    max-width: 100%;
    .ui-select__display-value {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.ui-select-option {
  kbd {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.ui-select:not(.is-multiple) .ui-select__content .ui-select__display {
  line-height: unset;
}

[x-placement="top-start"] {
  transform: translateY(8px);
}

.ui-checkbox:hover,
.ui-checkbox__input:focus ~ {
  .ui-checkbox__label-text {
    border-bottom: 2px solid $brand-primary-color;
    margin-bottom: -2px;
  }
}

.ui-checkbox__label-text,
.ui-radio__label-text {
  margin-left: 0.25rem !important;
}

.ui-radio-group.is-vertical .ui-radio-group__radio {
  margin-bottom: 2px !important;
}

.ui-button, .ui-fileupload {
  height: $ui-input-height !important;
}


.font-select-popover .font-select:not(:last-child) {
  margin-bottom: 0.5rem;
}

.font-select .ui-select__label-text {
  font-size: 0.85rem !important;
}

.ui-select:not(.is-multiple) .ui-select__display {
  height: unset !important;
}

.ui-icon-button {
  flex-shrink: 0 !important;
}