.ui-textbox__input,
.ui-select__display {
  border-bottom-width: 2px !important;
  box-sizing: border-box;
}

.ui-select {
  .ui-icon {
    svg {
      transform: scale(1.1, 1.25);
    }
  }
}

.ui-select:not(.is-multiple) .ui-select__content .ui-select__display {
  line-height: unset;
}

.dark {
  $color: $accent-text;
  $color-tinted-active: mix($accent, $color, 40%);
  $color-tinted: mix($accent, $color, 60%);
  $color-accent: $brand-primary-color;

  &.ui-select {
    .ui-select__display {
      color: $color;

      border-color: $color-tinted;
      .ui-select__dropdown-button {
        color: $color-tinted;
      }
    }
    &:not(.is-disabled) {
      &:hover {
        .ui-select__display {
          border-color: $color-tinted-active;
          .ui-select__dropdown-button {
            color: $color-tinted-active;
          }
        }
      }
      &.is-active, &.is-active:hover {
        .ui-select__display {
          border-color: $color-accent;
        }
        .ui-select__dropdown-button {
          color: $color-accent;
        }
      }
    }
  }
}
