@import "./utils/repeater";
@import "./utils/to-string";
@import "./utils/font-face";
@import "./fade-in-out";
@import "@/scss/pseudo";
@import "@/scss/scroll-veil";

@mixin flex() {
  display: flex;
  align-items: center;
  flex: 1;
}

@mixin pseudo-border($side: top) {
  content: "";
  position: absolute;
  background: inherit;

  top: 0;
  height: 100%;
}

@mixin pseudo-side($side: top) {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  background: inherit;
}
