
.row {
  display: flex;
  width: 100%;
  align-items: center;
  .ui-button {
    margin: 5px 0;
  }
  h3 {
    align-self: center;
    margin: 2px 0;
  }

  > * {
    margin: 0 0.2em 2px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  @at-root .row-label {
    margin-right: 0.3em;
    min-width: 4em;
  }
  > [class^="ui"]:not(.ui-icon-button):not(.ui-checkbox), > h3 {
    flex: 1;
    min-width: 0;
  }
  @at-root .row-label,
  .ui-checkbox__label-text,
  .ui-radio__label-text {
    opacity: 0.7;
    font-size: 0.85rem !important;
  }

  @for $i from 1 to 30 {
    .const#{$i}ch {
      display: block;
      flex: 0.1 1 #{$i}ch;
      min-width: #{$i}ch;
    }
  }
}