@import "./variables.scss";
@import "./font-face.scss";

@import "./keenui-fixes.scss";
@import "./vuebar.scss";

.mask {
  mask-type: alpha;
}

html {
  font-family: $font-stack;
  font-size: 100% * $font-scale;
}

body {
  margin: 0;
}

a {
  color: $light-link;

  &:hover {
    color: $light-link-hover;
  }
}

.accent {
  background: $accent;
  color: $accent-text;

  a {
    color: unset;

    &:hover {
      color: unset;
    }
  }
}