@import "./variables.scss";
@import "./font-face.scss";

@import "./keenui-fixes.scss";
@import "./vuebar.scss";
@import "./dark.scss";
@import "./transitions.scss";
@import "./contextual-sidebar.scss";
@import "./row.scss";

.mask {
  mask-type: alpha;
}

html {
  font-family: $font-stack;
  font-size: 100% * $font-scale;
  overflow: hidden;
}

code, pre, samp, kbd {
  font-family: $monospaced;
  font-size: 13px;
}

h3 {
  margin: 4px 0 0 0;
  font-size: 1em;
}
  
@import "./reading.scss";

body {
  margin: 0;
}

a {
  color: $light-link;

  &:hover {
    color: $light-link-hover;
  }
}

.accent {
  background: $accent;
  color: $accent-text;

  a {
    color: unset;

    &:hover {
      color: unset;
    }
  }
}


.github-icon-link, .github-link, .github-link-dark {
  color: mix(black, $brand-primary-color, 60%);
  transition: color .3s;
  &:hover {
    color: mix(black, $brand-primary-color, 20%);
  }
}
.github-link-dark {
  color: $brand-primary-color;
  &:hover {
    color: mix(white, $brand-primary-color, 45%);
  }
}

.u-flex-v {
  display: flex;
  flex-direction: column;
  height: 100%;
}


.help-link {
  margin: 0 2px;
  text-decoration: none;
  font-size: 0.9em;
  font-weight: 700;
  display: flex;
  align-items: center;
  
  color: $light-link;
  &:hover {
    color: $light-link-hover;
  }
  > .help-icon {
    flex: unset;
    margin-right: .15em;
  }
}


.help-topic {
  display: flex;
  justify-content: flex-start;
  
  .help {
    flex: 1 1 60%;
    margin: 0 40px 0 6rem;
    .reading {
      margin-right: 0;
    }
  }
  .example {
    width: 300px;
    flex: 0 1 30%;
    align-self: flex-start;
    margin: 0px 40px;
    padding: 20px 0;
    position: sticky;
    top: $header-height;
    @media screen and (max-width: $mq-max-width) {
      top: $header-height-mq;
    }
  }

  .help-heading {
    position: relative;
    .router-link-active {
      color: #bbb;
      text-decoration: none;
      position: absolute;
      right: 100%;
      white-space: pre;
      &:hover {
        color: $light-link;
      }
    }
  }
}
