.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.fade-move {
  transition: transform .3s;
}
.fade-leave-active {
  position: absolute;
}

.swap-enter-active, .swap-leave-active {
  transition: transform .3s, opacity .3s;
}
.swap-enter, .swap-leave-to {
  opacity: 0;
  width: 190px;
  transform: translateX(60%); // somehow 90% or more causes weird jumps
}

.transition-wrapper {
  position: relative;
  height: 100%;
  width: 100%;

  .swap-enter-active {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}