@import "@/scss/variables";

.fade {
  &-enter-active, &-leave-active {
    transition: all .3s;
  }
  &-enter, &-leave-to {
    opacity: 0 !important;
  }
  &-move {
    transition: all .3s;
  }
  &-enter-active {
    // position: absolute;
  }
  &-transition-group {
    position: relative;
  }
  &-transition-group > &-leave-active {
    position: absolute;
    width: 100%;
  }
}

$fade-slow-delay: 0.45s;

.fade-slow,
.fade-slow-reverse  {
  &-enter-active {
    transition: opacity 0.3s;
  }
  &-leave-active {
    transition: opacity 1.5s $fade-slow-delay;
  }
  &-enter, &-leave-to {
    opacity: 0;
  }
}

.fade-slow-reverse {
  &-enter-active {
    transition: opacity 1.5s $fade-slow-delay;
  }
  &-leave-active {
    transition: opacity 0.3s;
  }
}

/* swap right sidebar content */
.swap-enter-active, .swap-leave-active {
  transition: transform .3s, opacity .3s;
}
.swap-enter, .swap-leave-to {
  opacity: 0;
  width: $contextual-sidebar-width;
  transform: translateX(60%); // somehow 90% or more causes weird jumps
}

.transition-wrapper {
  position: relative;
  height: 100%;
  width: 100%;

  > .fade-leave-active,
  > .swap-leave-active {
    position: absolute;
  }
}

.slide-left {
  $duration: 0.3s;

  &-enter-active,
  &-leave-active {
    transition: opacity $duration, transform $duration;
  }
  &-enter, &-leave-to {
    opacity: 0;
    transform: translateX(-100%);
  }
  &-enter-to, &-leave {
    opacity: 1;
    transform: translateX(0);
  }
  &-move {
    transition: transform $duration;
  }
  &-leave-active {
    position: absolute;
    height: 100%;
  }
  &-wrapper {
    position: relative;
  }
}