$font-scale: 1;

$font-stack: "Alegreya Sans", Helvetica, Arial, sans-serif;
// font-family: "Livvic", Helvetica, Arial, sans-serif;
// font-family: "FiraSansCondensed", Helvetica, Arial, sans-serif;

/* ------------------------------------------------------------ *\
   color variables, groupped by background color (first value)
\* ------------------------------------------------------------ */

$light: #eeeeee;
$light-text: #241f1e;
$light-link: #416bc5;
$light-link-hover: #1245b3;

$accent: #416bc5;
$accent: #7c0f1d;
$accent-faded: #461a21;
$accent-text: #ffffff;
$accent-link: #bcdeff;
$accent-link-hover: #ffffff;

$sidebar-width: 220px;

/* ------------------------------------------------------------ *\
   KeenUi
\* ------------------------------------------------------------ */
$ui-input-height: 1.7rem;
$ui-input-margin-bottom: 0;

$brand-primary-color: $accent;
$brand-accent-color: #ff4081;

$brand-primary-color: #ff4081;
$brand-accent-color: #ff4081;

/* ------------------------------------------------------------ *\
   Vuebar
\* ------------------------------------------------------------ */

$dragger-width: 12px;
$dragger-border: 3px;
$dragger-margin-left: 3px;
$dragger-margin-right: 2px;
$dragger-margin-top: 2px;
$dragger-margin-bottom: 2px;

$vuebar-width: $dragger-width + $dragger-margin-left + $dragger-margin-right;
