$font-scale: 1;

$font-stack: "Alegreya Bulletproof", Helvetica, Arial, sans-serif;

$monospaced: "Iosevka SS09 Web", Consolas, "Courier New", Courier, monospace;
$monospaced-font-size: 13px;

// $monospaced: "Inconsolata", Consolas, "Courier New", Courier, monospace;

/* ------------------------------------------------------------ *\
   color variables, groupped by background color (first value)
\* ------------------------------------------------------------ */

$light: #eeeeee;
$light-text: #241f1e;
$light-link: #416bc5;
$light-link-hover: #1245b3;

$accent: #416bc5;
$accent: #7c0f1d;
$accent-faded: #461a21;
$dark-brown: #110e0f;
$accent-text: #ffffff;
$accent-link: #bcdeff;
$accent-link-hover: #ffffff;

$header-height: 64px;
$footer-height: 128px;
$sidebar-width: 220px;
$contextual-sidebar-width: 210px;
$sidebar-padding: 0px 10px;

$mq-max-width: 920px;
$header-height-mq: 64px;

$font-select-width: 12em;

/* ------------------------------------------------------------ *\
   KeenUi
\* ------------------------------------------------------------ */
$ui-input-height: 1.7rem;
$ui-input-margin-bottom: 0;
// $ui-radio-size: 1.25rem;
$brand-primary-color: $accent;
$brand-accent-color: #ff4081;

$brand-primary-color: #ff4081;
$brand-accent-color: #ff4081;
$brand-secondary-color: #5383eb;
$brand-secondary-color: #ced4f5;


$brand-text: mix($brand-primary-color, #444);

/* ------------------------------------------------------------ *\
   Vuebar
\* ------------------------------------------------------------ */

$dragger-width: 12px;
$dragger-border: 3px;
$dragger-margin-left: 3px;
$dragger-margin-right: 2px;
$dragger-margin-top: 2px;
$dragger-margin-bottom: 2px;

$vuebar-width: $dragger-width + $dragger-margin-left + $dragger-margin-right;
